* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("images/OtonoseKanade.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: 1024px;
    margin: 0 auto;
    border-style: dashed;
    border-width: 0px 5px 5px 5px;
    border-color: #fedfc6 #82dbfe #fdc2cb #82dbfe;
}
header {
    background-image: url("images/header.png");
    height: 160px;
    background-size: 100% 100%;
    background-repeat: repeat;
}

section {
    display: flex;
}

nav {
    background-color: #82dbfe;
    width: 30%;
}

article {
    background-color: #fdc2cb;
    width: 70%;
    padding: 10px;
}

footer {
    background-color: #69f4d1;
    text-align: center;
    padding: 25px;
}

a:link {
    color: white;
    text-decoration: none;
    background-color: #fedfc6;
    display: block;
    width: 100%;
    padding: 10px;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
    background-color: #92F58C;
}

a:active {
    color: blue;
}